$text-align: center;
$edgeposition: 10%;

html,body{
 height: 100%;
}

h1 {
 border-top: none;
 border-left: none;
 border-right:none;
 border-bottom: 5px solid black;
 font-size: 26px;
}

footer {
 text-align: $text-align;
 bottom: $edgeposition;
 position: fixed;
 width: 80%
}

h6 {
 color: grey;
}

body {
 padding: $edgeposition;
}

.PageHeaderSearch {
 float:right;
 font-size:13px;
}

.BottomLinks {
 text-align: $text-align;
}

.container {
 .column-left {
  float:left;
  width: 20%;
 }

 .column-right {
  float: right;
  width: 20%;
}

 .column-center {
  display: inline-block;
  width: 60%;
  column-height: 100%;
  border-left: 1px solid grey;
  border-right: 1px solid grey;
 }
}
