.item1 {
  grid-area: header;
  box-sizing: border-box;
  border-bottom-style: solid;
}
.item1 h1 {
  margin-bottom: 0;
  padding-bottom: 0;
  font-family: Verdana;
}
.item1 #maintitle, .item1 #networking {
  display: inline-block;
}
.item1 #maintitle {
  text-align: left;
  width: 50%;
}
.item1 #maintitle a {
  color: #000000;
}
.item1 #networking {
  text-align: right;
  width: 49.5%;
}
.item1 #networking h3 {
  font-family: Verdana;
  margin-bottom: 0;
  padding-bottom: 0;
  display: inline;
}
.item1 #networking #networkinglinks {
  display: inline;
}
.item1 #networking #networkinglinks a img {
  padding-left: 1%;
}

.item2 {
  grid-area: columnLeft;
  min-width: 19ch;
}
.item2 #dates {
  max-width: 19ch;
}
.item2 #links {
  max-width: 19ch;
}

.item3 {
  grid-area: columnCenter;
  padding-left: 1%;
  min-width: 79ch;
  border-left-style: solid;
}
.item3 #contentTitle {
  max-width: 79ch;
}
.item3 #contentTitle h2 {
  margin-bottom: 0;
  padding-bottom: 0;
}
.item3 #contentTitle a {
  font-family: Verdana;
  color: #262626;
}
.item3 #contentTitle a:hover {
  color: #000000;
}
.item3 #dates {
  max-width: 79ch;
}
.item3 #summaryContent {
  max-width: 79ch;
}

.item4 {
  grid-area: columnRight;
  min-width: 19ch;
  border-left-style: solid;
}

.item5 {
  grid-area: footer;
  padding-top: 1%;
  text-align: center;
}
.item5 a {
  color: #737373;
  font-family: Verdana;
}
.item5 #networkinglinks {
  text-align: center;
}
.item5 #license {
  text-align: center;
  font-family: Tahoma;
  color: #737373;
}

.grid-container {
  display: grid;
  grid-template-areas: "header header header" "columnLeft columnCenter columnCenter" "footer footer footer";
}

a {
  text-decoration-line: none;
  color: #737373;
}

a:hover {
  color: #000000;
}

#dates {
  color: #737373;
  font-family: Tahoma;
}

#summaryContent {
  color: #4C4C4C;
  font-family: Arial;
}

#links {
  font-family: Verdana;
}

body {
  padding-top: 5%;
  padding-bottom: 5%;
  padding-left: 10%;
  padding-right: 10%;
  /*
  	#item1 {
  		#maintitle, #networking {
  			display: inline-block;
  		}

  		#maintitle {
  			/*h1 {
  				margin-bottom: 0;
  				padding-bottom: 0;
  				font-family: $textFontTitleContenttitleNetworkinglinksLatestpostsAdjacentpostsHeadersLinks;
  			}
  			a {
  					color: $textColorTitleHighlightedlinksNetworkinglinksLatestpostsAdjacentposts;
  			}
  		}
  		#networking {
  			text-align: right;
  			width: 49.5%;
  				h3 {
  					font-family: $textFontTitleContenttitleNetworkinglinksLatestpostsAdjacentpostsHeadersLinks;
  					margin-bottom: 0;
  					padding-bottom: 0;
  					//display: inline;
  				}
  			#networkinglinks {
  				display: inline-block;
  				a {
  					img {
  						padding-left: 100%;
  					}
  				}
  			}
  		}
  	}
  */
  /*	
  	#item2 {
  		min-width: $countCharLeft;

  		#dates {
  			max-width: $countCharLeft;
  		}
  		#links {
  			max-width: $countCharLeft;
  		}
  	}
  */
  /*
  	#item3 {
  		padding-left: 1%;
  		min-width: $countCharCenter;
  		border-left-style: solid;
  		#contentTitle {
  			max-width: $countCharCenter;
  			h2 {
  				margin-bottom: 0;
  				padding-bottom: 0;
  			}
  			a {
  				font-family: $textFontTitleContenttitleNetworkinglinksLatestpostsAdjacentpostsHeadersLinks;
  				color: $textColorContenttitlesHeaders;
  			}
  			a:hover {
  				color: $textColorTitleHighlightedlinksNetworkinglinksLatestpostsAdjacentposts;
  			}
  		}
  		#dates {
  			max-width: $countCharCenter;
  		}
  		#summaryContent {
  			max-width: $countCharCenter;
  		}	
  	}
  */
  /*
  	#item4 {
  		min-width: $countCharLeft;
  		border-left-style: solid;
  	}
  */
  /*
  	#item5 {
  		//nav {
  			padding-top: 1%;
  			text-align: $alignCenter;
  			a {
  				color: $textColorUnhighlightedlinksDatesLicenses;
  				font-family: $textFontTitleContenttitleNetworkinglinksLatestpostsAdjacentpostsHeadersLinks;
  			}
  		//}
  		#networkinglinks {
  			text-align: $alignCenter;
  		}
  		#license {
  			text-align: $alignCenter;
  			font-family: $textFontDatesLicenses;
  			color: $textColorUnhighlightedlinksDatesLicenses;
  		}
  	}
  	*/
}

/*# sourceMappingURL=styles.css.map */
