$text-align: center;
$edgeposition: 10%;
$contentBorder: 1px solid grey;
$ColumnHeight: 100%;
$ColumnPadding: 1%;
$alignLeft: left;
$alignCenter: center;
$alignRight: right;
$textFontTitleContenttitleNetworkinglinksLatestpostsAdjacentpostsHeadersLinks: Verdana;
$textFontSummaryContent: Arial;
$textFontDatesLicenses: Tahoma;
$textColorTitleHighlightedlinksNetworkinglinksLatestpostsAdjacentposts: #000000;
$textColorContenttitlesHeaders: #262626;
$textColorSummaryContent: #4C4C4C;
$textColorUnhighlightedlinksDatesLicenses: #737373;
$countCharCenter: 79ch;
$countCharLeft: 19ch;

a {
	text-decoration-line: none;
	color: $textColorUnhighlightedlinksDatesLicenses;
}

a:hover{
	color: $textColorTitleHighlightedlinksNetworkinglinksLatestpostsAdjacentposts;
}

#dates {
	color: $textColorUnhighlightedlinksDatesLicenses;
	font-family: $textFontDatesLicenses;
}

#summaryContent {
	color: $textColorSummaryContent;
	font-family: $textFontSummaryContent;
}

#links {
	font-family: $textFontTitleContenttitleNetworkinglinksLatestpostsAdjacentpostsHeadersLinks;
}

html {
	//height: 100%;
	width: 100%;
	//margin: 0;
	/*padding-left: 10%;
	padding-right: 10%;
	padding-top: 5%;
	padding-bottom: 5%;*/
}

body {
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 5%;
	padding-bottom: 5%;
	
	header {
		box-sizing: border-box;
		display: block;
		//height: 10%;
		//width: 90%;
		border-top-style: none;
		border-left-style: none;
		border-bottom-style: solid;
		border-right-style: none;
				
		#maintitle, #networking {
			display: inline-block;
		}
		
		#maintitle {
			text-align: left;
			width: 50%;
			h1 {
				margin-bottom: 0;
				padding-bottom: 0;
				font-family: $textFontTitleContenttitleNetworkinglinksLatestpostsAdjacentpostsHeadersLinks;
			}
			a {
					color: $textColorTitleHighlightedlinksNetworkinglinksLatestpostsAdjacentposts;
			}
		}
		#networking {
			text-align: right;
			width: 49.5%;
				h3 {
					font-family: $textFontTitleContenttitleNetworkinglinksLatestpostsAdjacentpostsHeadersLinks;
					margin-bottom: 0;
					padding-bottom: 0;
					display: inline;
				}
			#networkinglinks {
				display: inline;
				a {
					img {
						padding-left: 1%;
					}
				}
			}
		}
	} // Header is good to go!
	main {
		padding-top: 1%;
		//justify-content: start;
		//align-content: start;
		//display: block;
		//position: relative;
		//height: 100%;
		
		/*#columnLeft {
			display: block;
			box-sizing: border-box;
		}*/
		
		#columnLeft, #columnCenter, #columnRight {
			box-sizing: border-box;
			display: inline-block;
			//padding-top: 1%;
			//height: auto;
			/*position: relative;
			top: 100em;*/
		}
		
		#columnLeft {
			width: 15%;
			min-width: $countCharLeft;
			//margin: 0em;
			//padding-bottom: 10%;
			//margin: 1000em;
			//box-sizing: content-box;
			//position: relative;
			//bottom: 100em;
			//justify-content: top;
			//height: 100%;
			//padding-top: 100%;
			//margin-top: 100%;
			//justify-content: top;
			//position: absolute; absolute overlaps box
			//display: inline-block;
			//position: -webkit-sticky;
			//position: sticky;
			//position: relative;
			//top: -10000px;
			//top: -50%;
			#dates {
				max-width: $countCharLeft;
			}
			#links {
				max-width: $countCharLeft;
			}
		}
		#columnCenter {
			//box-sizing: content-box;
			//display: block;
			//height: 100%;
			width: 68%;
			padding-left: 1%;
			min-width: $countCharCenter;
			border-left-style: solid;
			border-right-style: solid;
			#contentTitle {
				max-width: $countCharCenter;
				h2 {
					margin-bottom: 0;
					padding-bottom: 0;
				}
				a {
					font-family: $textFontTitleContenttitleNetworkinglinksLatestpostsAdjacentpostsHeadersLinks;
					color: $textColorContenttitlesHeaders;
				}
				a:hover {
					color: $textColorTitleHighlightedlinksNetworkinglinksLatestpostsAdjacentposts;
				}
			}
			#dates {
				max-width: $countCharCenter;
			}
			#summaryContent {
				max-width: $countCharCenter;
			}	
		}
		#columnRight {
			//box-sizing: content-box;
			//height: 100%;
			width: 15%;
			min-width: $countCharLeft;
			border-left-style: solid;
			// make columnRight disappear if zoomed in.
		}
	}

	footer{
		//padding-top: 1%
		//width: 80%;
		display: block;
		nav {
			padding-top: 1%;
			text-align: $alignCenter;
			a {
				color: $textColorUnhighlightedlinksDatesLicenses;
				font-family: $textFontTitleContenttitleNetworkinglinksLatestpostsAdjacentpostsHeadersLinks;
			}
		}
		#networkinglinks {
			text-align: $alignCenter;
		}
		#license {
			text-align: $alignCenter;
			font-family: $textFontDatesLicenses;
			color: $textColorUnhighlightedlinksDatesLicenses;
		}
	}
}