$text-align: center;
$edgeposition: 10%;
$contentBorder: 1px solid grey;
$ColumnHeight: 100%;
$ColumnPadding: 1%;
$alignLeft: left;
$alignCenter: center;
$alignRight: right;
$textFontTitleContenttitleNetworkinglinksLatestpostsAdjacentpostsHeadersLinks: Verdana;
$textFontSummaryContent: Arial;
$textFontDatesLicenses: Tahoma;
$textColorTitleHighlightedlinksNetworkinglinksLatestpostsAdjacentposts: #000000;
$textColorContenttitlesHeaders: #262626;
$textColorSummaryContent: #4C4C4C;
$textColorUnhighlightedlinksDatesLicenses: #737373;
$countCharCenter: 79ch;
$countCharLeft: 19ch;

a {
	text-decoration-line: none;
	color: $textColorUnhighlightedlinksDatesLicenses;
}

a:hover{
	color: $textColorTitleHighlightedlinksNetworkinglinksLatestpostsAdjacentposts;
}

#dates {
	color: $textColorUnhighlightedlinksDatesLicenses;
	font-family: $textFontDatesLicenses;
}

#summaryContent {
	color: $textColorSummaryContent;
	font-family: $textFontSummaryContent;
}

#links {
	font-family: $textFontTitleContenttitleNetworkinglinksLatestpostsAdjacentpostsHeadersLinks;
}

body {
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 5%;
	padding-bottom: 5%;
	
	header {
		border-top-style: none;
		border-left-style: none;
		border-bottom-style: solid;
		border-right-style: none;
		
		#maintitle {
			font-family: $textFontTitleContenttitleNetworkinglinksLatestpostsAdjacentpostsHeadersLinks;
			//text-align: $alignLeft;
			//float: left;
			//margin-right: auto;
			display: block;
			float: left;
			h1 {
				margin-bottom: 0;
				padding-bottom: 0;
				a {
					color: $textColorTitleHighlightedlinksNetworkinglinksLatestpostsAdjacentposts;
				}
			}

		}
		//#networking {
			//margin-right: 0;
			//display: inline-block;
			//float: right;
		#networkinglinkstitle {
			display: inline-block;
			//text-align: right;
			font-family: $textFontTitleContenttitleNetworkinglinksLatestpostsAdjacentpostsHeadersLinks;
				h3 {
				margin-bottom: 0;
				padding-bottom: 0;
				}
				//text-align: $alignRight;
				//display:inline-block;
		}
		#networkinglinks {
				display: block;
				float: right;
				display: inline-block;
				//margin-left: auto;
				//margin-right: 0;
				//text-align: $alignRight;
					a {
					margin-left: auto;
					margin-right: 0;
					}
					img {
						padding-left: 1%;
					}
		}
		//}
		

	}

	main {
		//height: 
		#columnLeft {
			max-width: $countCharLeft;
			width: 20%;
			display: inline-block;
			margin-right: auto;
		}
		#columnCenter {
			max-width: $countCharCenter;
			width: 40%;
			border-left-style: solid;
			//display: inline-block;
			// Center the center column
			margin-left: auto;
			margin-right: auto;
			//display: flex;
			//justify-content: center;
			#contentTitle {
				h2 {
					margin-bottom: 0;
					padding-bottom: 0;
				}
				a {
					font-family: $textFontTitleContenttitleNetworkinglinksLatestpostsAdjacentpostsHeadersLinks;
					color: $textColorContenttitlesHeaders;
				}
				a:hover {
					color: $textColorTitleHighlightedlinksNetworkinglinksLatestpostsAdjacentposts;
				}
			}		
		}
		#ColumnRight {
			width: 20%;
			display: inline-block;
			margin-right: 0;
			border-left-style: solid;
		}
	}

	footer{
		nav {
			text-align: $alignCenter;
			a {
				color: $textColorUnhighlightedlinksDatesLicenses;
				font-family: $textFontTitleContenttitleNetworkinglinksLatestpostsAdjacentpostsHeadersLinks;
			}
		}
		#networkinglinks {
			text-align: $alignCenter;
		}
		#license {
			text-align: $alignCenter;
			font-family: $textFontDatesLicenses;
			color: $textColorUnhighlightedlinksDatesLicenses;
		}
	}
}

/*
body {
 padding: $edgeposition;
 height: 80%;
 width: 80%;
}



main {
 height: 100%;
}

footer {
 text-align: $text-align;
 position: relative;
 width: 80%;
 bottom: 0;
 margin-left: auto;
 margin-right: auto;
 margin-top: 10px;
}

h1 {
 border-top: none;
 border-left: none;
 border-right:none;
 border-bottom: 5px solid black;
 font-size: 26px;
}

h2 {
 margin: auto;
}

h3 {
 margin: auto;
}

h4 {
 margin: auto;
}

h6 {
 color: grey;
}

span {
 color: black;
}

.BlogTitle {
 text-decoration: none;
}

iframe {
 align: left;
 width: 100%;
 height: 100%;
 border: none;
}

.PageHeaderSearch {
 float: right;
 font-size: 13px;
}

.BottomLinks {
 text-align: $text-align;
}

#TextIndent {
 text-indent: 10px;
}

#Container {
 #ColumnLeft {
  float: left;
  width: 20%;
  height: $ColumnHeight;
  padding-right: $ColumnPadding;
 }

 #ColumnCenterHome {
  display: inline-block;
  border-right: $contentBorder;
  border-left: $contentBorder;
  width: 55%;
  height: $ColumnHeight;
  margin: auto;
  padding-left: $ColumnPadding;
  padding-right: $ColumnPadding;
 }

 #ColumnCenterOther {
  display: inline-block;
  border-left: $contentBorder;
  width: 76%;
  height: $ColumnHeight;
  padding-left: $ColumnPadding;
  padding-right: $ColumnPadding;
 }

 #ColumnRight {
  float: right;
  width: 20%;
  height: $ColumnHeight;
  padding-left: $ColumnPadding;
 }
}
*/
