$text-align: center;
$edgeposition: 10%;
$contentBorder: 1px solid grey;
$ColumnHeight: 100%;
$ColumnPadding: 1%;
$alignLeft: left;
$alignCenter: center;
$alignRight: right;
$textFontTitleContenttitleNetworkinglinksLatestpostsAdjacentpostsHeadersLinks: Verdana;
$textFontSummaryContent: Arial;
$textFontDatesLicenses: Tahoma;
$textColorTitleHighlightedlinksNetworkinglinksLatestpostsAdjacentposts: #000000;
$textColorContenttitlesHeaders: #262626;
$textColorSummaryContent: #4C4C4C;
$textColorUnhighlightedlinksDatesLicenses: #737373;
$countCharCenter: 79ch;
$countCharLeft: 19ch;

.grid-container {
	display: grid;
	grid-template-areas:
	'header header header'
	'columnLeft columnCenter columnRight'
	'footer footer footer';
	//grid-template-columns: 50px 50px 50px;
}

.item1 { grid-area: header;
	//width: 99%;
	box-sizing: border-box;
	padding-bottom: 1%;
	
	h1 {
		margin-bottom: 0;
		padding-bottom: 0;
		font-family: $textFontTitleContenttitleNetworkinglinksLatestpostsAdjacentpostsHeadersLinks
	}
	
	border-bottom-style: solid;
	
	#maintitle, #networking {
		display: inline-block;
	}

	#maintitle {
		text-align: left;
		width: 50%;
		a {
			color: $textColorTitleHighlightedlinksNetworkinglinksLatestpostsAdjacentposts;
		}
	}
	#networking {
		text-align: right;
		width: 49.5%;
		h3 {
			font-family: $textFontTitleContenttitleNetworkinglinksLatestpostsAdjacentpostsHeadersLinks;
			margin-bottom: 0;
			padding-bottom: 0;
			display: inline;
		}
		#networkinglinks {
		display: inline;
			a {
				img {
					padding-left: 1%;
				}
			}
		}
	}
}

.item2 { grid-area: columnLeft;
	box-sizing: border-box;
	//min-width: $countCharLeft;
	//max-width: 33%;
	//width: 33%;
	#dates {
		max-width: $countCharLeft;
	}
	#links {
		max-width: $countCharLeft;
	}
}

.item3 { grid-area: columnCenter;
	box-sizing: border-box;
	//padding-left: 1%;
	//min-width: $countCharCenter;
	//border-left-style: solid;
	//width: 33%;
	//max-width: 33%;
	max-width: $countCharCenter;
	#contentTitle {
		max-width: $countCharCenter;
		h2 {
			margin-bottom: 0;
			padding-bottom: 0;
		}
		a {
			font-family: $textFontTitleContenttitleNetworkinglinksLatestpostsAdjacentpostsHeadersLinks;
			color: $textColorContenttitlesHeaders;
		}
		a:hover {
			color: $textColorTitleHighlightedlinksNetworkinglinksLatestpostsAdjacentposts;
		}
	}
	#dates {
		max-width: $countCharCenter;
	}
	#summaryContent {
		max-width: $countCharCenter;
	}
}

.item4 { grid-area: columnRight;
	box-sizing: border-box;
	//min-width: $countCharLeft;
	//max-width: 33%;
	//width: 33%;
	//height: 100%;
	//width: $countCharLeft;
	border-left-style: solid;
}
.item5 { grid-area: footer;
	//width: 99%;
	box-sizing: border-box;
	padding-top: 1%;
	text-align: $alignCenter;
	a {
		color: $textColorUnhighlightedlinksDatesLicenses;
		font-family: $textFontTitleContenttitleNetworkinglinksLatestpostsAdjacentpostsHeadersLinks;
	}
	#networkinglinks {
		text-align: $alignCenter;
	}
	#license {
		text-align: $alignCenter;
		font-family: $textFontDatesLicenses;
		color: $textColorUnhighlightedlinksDatesLicenses;
	}
}

a {
	text-decoration-line: none;
	color: $textColorUnhighlightedlinksDatesLicenses;
}

a:hover{
	color: $textColorTitleHighlightedlinksNetworkinglinksLatestpostsAdjacentposts;
}

#dates {
	color: $textColorUnhighlightedlinksDatesLicenses;
	font-family: $textFontDatesLicenses;
}

#summaryContent {
	color: $textColorSummaryContent;
	font-family: $textFontSummaryContent;
}

#links {
	font-family: $textFontTitleContenttitleNetworkinglinksLatestpostsAdjacentpostsHeadersLinks;
}

body {
	padding-top: 5%;
	padding-bottom: 5%;
	padding-left: 10%;
	padding-right: 10%;
}